
@{
    ViewBag.Title = "Result";
}
    <div class="center">
        <div class="gender">
            Welcome, &nbsp
            <b> @ViewBag.Name </b> &nbsp
            to the our site.
        </div>
        <div class="gender">
            You login is &nbsp
            <b>@ViewBag.Login</b>.
        </div>
        <div class="gender">
            You have send a message to your email &nbsp
            <b> @ViewBag.Email </b> &nbsp for verifying
        </div>
        <div class="gender">
            Your password is &nbsp
            <b> @ViewBag.Passsword </b>
        </div>
        <div class="gender">
            Your Birthday:&nbsp
            <b> @ViewBag.Date </b>
        </div>
        <div class="gender">
            Your Gender: &nbsp
            <b> @ViewBag.Gender </b>
        </div>
        <div class="gender">
            Do you want to recieve email notifications &nbsp
            <b> @ViewBag.CheckBox1 </b>
        </div>
        <div class="gender">
            Your Marital status: &nbsp
            <b>@ViewBag.Marital</b>
        </div>
        <div class="gender">
            You have children: &nbsp
            <b>@ViewBag.Children</b>
        </div>
    </div>

